<!DOCTYPE html>
<html lang="en">
    <head>

        <!--META HERE-->
        <meta charset="utf-8">
        <title>Clarify - Log In</title>

        <!-- CSS -->
        <link href="/css/base.css" rel="stylesheet">

        <!-- JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
        <script src="/js/holder.min.js"></script>
        <script src="/js/main.js"></script>

    </head>
    <!--BODY STARTS HERE-->
    <body>

        {{{body}}}

    </body>
</html>
