<body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="./public/js/presentationQuestion.js"></script>

<script>
  var socket = io();
</script>

</body>

<h1> Welcome to your nightmare, bitch </h1>

<input class="inputMessage" placeholder="Type here...">
